body,.submit-button,nav {
    font-family: 'Slabo 13px', Serif;
    color: var(--white);
}

h1 {
    font-size: 3rem;
}

.accent-color {
    color: var(--blue);
}

h2 {
    font-size: 2rem;
}

.masthead h2 {
    color: var(--white);
    font-style: normal;
    font-weight: bold;
    font-size: 8vmin;
    letter-spacing: 0.03em;
    line-height: 1;
    text-shadow: 1px 2px 4px rgba(175, 168, 168, 0.8);
}

h3,.submit-button {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
    font-weight: 300;
}

h5 {
    font-size: 1.1rem;
}

p {
    font-family: 'Lato', Sans-Serif;
    line-height: 1.7rem;
}

ul {
    list-style: circle;
}

a {
    color: var(--white);
    text-decoration: none;
}

.footer-nav a {
    font-size: 1rem;
}

.section-header {
    background-color: var(--blue-grey);
    padding: 3rem;
    text-align: center;
    border-bottom: var(--blue) 5px solid;
}

.contact-section a {
    font-size: 1.5rem;
}

.contact-section h3 {
    font-size: 2rem;
}

@media (max-width: 600px) { 
    .contact-section a {
           font-size: 1.25rem;
    }
    .contact-section h3 {
        font-size: 1.5rem;
    }
}